* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

#heading-box {
  margin: 10px 10px;
  width: 150px;
  background-color: crimson;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
