* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
  }
  
  /*
  100% => 100% height of parent container (closest ancestor)
  100vh => height is 100% of the height of viewport ~ 100% visible area of browser window
  */
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  #main {
    width: 100%; /* we dont know how much height this container nees, we can either not mention height or just height: auto; */
    background-color: #000;
}
  
  #hero {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  #nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    color: #fff;
    font-weight: bold;
  }
  
  #nav a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  
  #nav h4 {
    text-transform: uppercase;
  }
  
  #heading {
    margin-top: 90px;
  }
  
  #heading h1 {
    margin-left: 30px;
    font-size: 10vw; /* using vw so font size adjusts when screen size increases or decreases */
    text-transform: uppercase;
    opacity: 0.6;
    line-height: 0.6;
    font-weight: 600;
    margin: 30px;
  }
  
 #heading #second-heading {
    margin-left: 180px;
  }
  
  #block-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
  }
  
  #block-text h5 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
    margin-top: 0.5vw
  }
  
  #sub-headings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
  }

  #sub-headings h5{
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-align: right;
  }

  #hero-footer{
    position: absolute;
    width: 100%;
    padding: 0 2vw;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }

  #hero-footer a{
    text-decoration: none;
    color: #fff
  }

  #hero-footer #icon-set{
    display: flex;
    gap: 5px;
  }

  #hero-footer .circle-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
  }